@import 'nullstyle.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    font: normal 400 16px 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    padding: 20px 0;
    background: #F5F5F5;
    border-bottom: 1px solid #7E7E7E;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.content-justify{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    height: 60px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
    background: #fff;
    
    &__text{
        font-size: 20px;
        margin-left: 12px;
    }
}

.add-note {
    position: relative;

    &__modal {
        opacity: 0;
        position: absolute;
        top: 90px;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 20px; 
        padding: 20px;
        background-color: #fff;

        &__title {
            font-size: 24px;
            user-select: none;
            font-weight: 600;
        }

        &__input, &__btn {
            width: 100%;
        }

        &__input, &__textarea, &__title  {
            margin-bottom: 20px;
        }

        &__input, &__btn, &__textarea {
            border: 1px solid black;
            border-radius: 10px;
            padding: 7px 10px;
            font-size: 16px;
        }

        &__textarea {
            resize: none;
            max-width: 310px;
            min-width: 310px;
            max-height: 165px;
            min-height: 165px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            cursor: pointer;
        }
    }
}

.options {

    &__filter {
        margin-right: 27px;
        position: relative;

        &-title{
            width: 100%;
        }

        &-btn{
            position: relative;
            z-index: 4;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

        &-modal{
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
            padding: 15px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 20px;
            background-color: #fff;
            z-index: 1;
            user-select: none;
            display: none;
            opacity: 0;

            &__btn{
                border: 1px solid black;
                padding: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                font-size: 12px;
                width: 100%;
                margin-bottom: 10px;
                cursor: pointer;

                &__arrow{
                    border: 1px solid black;
                    border-radius: 10px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    justify-content: center;
                }

                &__arrow--rotate{
                    transform: rotate(180deg);
                    margin-left: 10px;
                }
            }
        }
    }
    
    &__seacrh {
        width: 360px;
        height: 60px;
        padding: 10px 15px;
        border: 1px solid black;
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    
}

.main {
    flex: 1 1 auto;
}

.main__slider {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.main__slider-item {
    padding: 20px 0;
    background-color: #7E7E7E;
    width: 100%;
    height: 100%;
}

.main__slider-item:nth-child(odd) {
    background-color: #7E7E7E;
}


.note__title{
    font-weight: 600;
    font-size: 32px;
    text-decoration-line: underline;
    text-align: center;
    user-select: none;
}

.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #7E7E7E;
    padding: 5px 0;

    &__btns-position {
        display: flex;
        align-items: center;

        
        &__item {
            background-color: #ffffff;
            padding: 2px;
            margin-right: 10px;
        }
    }
}

.count-note {
    font-size: 22px;
}