@import 'nullstyle.scss';

@import url(https://fonts.googleapis.com/css?family=Homenaje:regular);

.wrapper{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    font: normal 400 36px 'Homenaje';
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

.wrapper-title {
    font-size: 36px;
    font-weight: 277px;
}

.main{
    flex: 1 1 auto;
    display: flex;
}

.container {
    width: 1620px;
    padding: 15px;
    margin: 0 auto;
}

.form-search {
   flex: 1 1 auto;
   margin-bottom: 9%;
   width: inherit;

    &__textarea {
        resize: none;
        border: 1px solid #808080;
        padding: 30px;
        overflow-y: scroll;
        font-size: inherit;
    }

    &__textarea::-webkit-scrollbar{
        background-color: transparent;
        width: 7px;
    }

    &__textarea::-webkit-scrollbar-thumb{
        background-color: #fff;
        border: 1px solid gray;
               
    }

    &__value{
        min-width: 100%;
        max-width: 100%;
        min-height: 30%; 
        max-height: 30%;
    }

    &__result{
        min-width: 26%;
        max-width: 26%;
        min-height: 100%; 
        max-height: 100%;
        user-select: none;
    }

    &__main{
        min-width: 72%;
        max-width: 72%;
        min-height: 100%;
        max-height: 100%;
    }

    &__container{
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        height: 400px;
        width: inherit;
    }

    &__btns {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 20px;
    }

    &__btn {
        border: 1px solid #808080;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        height: 53px;
        width: 176px;
        cursor: pointer;
        user-select: none;
        background-color: transparent;
    }

    &__btn:first-child{
        margin-right: 26px;
    }
}

.instruction-btn {
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
    color: #000;
    transition: color .7s ease;
}

.instruction-btn:hover{
    transition: color .7s ease;
    color: #71AAFF;
}